 .popular-search ,body .container{
    background-color: #404040;
    height:100%;
    width:100%;
}
.yellow {
    color:#FFC000;
}
p.yellow{
display: inline-block;
}
.white_p {
    color:#D9D9D9;
    font-weight: 100;
}
.most-popular-lists {
    margin-top:46px;
}
button{
    background-color: #FFC000;
    color:#fbf8f8;
    border-radius: 2px solid;
    padding: 2px 20px;
}
.bold {
font-weight: bolder;
}
.nav{
    padding:25px;
}
.vertical-line {
width: 1px;
background-color: #D9D9D9;
margin:0px 44px 0px 0px;
}

.result {
background-color: #353535;
border-radius:4px;
padding: 3px 3px;
margin-top: 9px;
}
.result p{
margin-bottom:0rem;
}
small {
color:#FFC000;
}
h5.not_aviable {
    margin-left: 36%;
    margin-top: 45px;
}
